<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demon Slayer API</title>

    <link rel="stylesheet" href="/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/36aa95581e.js" crossorigin="anonymous"></script>
</head>
<body>

    <!-- nav bar -->
    <nav class="navbar">
        <div class="container">
            <div><img id="ds-logo" src="/assets/logo.png" alt="Demon Slayer Logo"></div>
            <div><h1>DEMON SLAYER API</h1></div>
        </div>
    </nav>

    <!-- main -->
    <main>
        <div class="container">
            <div>
                <h2 id="main-header" >SERVING DEMON SLAYER CHARACTER FACTS</h3>
                <h3 id="main-content">Built for developers (and fans), the Demon Slayer API provides access to a collection of character facts from the popular anime and manga series, Demon Slayer: Kimetsu no Yaiba.</h2>
            </div>
            <div>
                <img id="siblings" src="assets/tanjiro-nezuko.png" alt="An anime character Tanjiro, carrying his sister Nezuko in her basket on his back.">
            </div>
        </div>    
    </main>

    <!-- Documentation -->
    <section id="documentation" class="container">
        <h2>Straight to the point:</h2>
        <p> Each character object provides Demon Slayer character name, race, affiliation, & skill (with more character data to come in the future).<br></p>
        <ul>
            <li>
                <% for(let i = 0; i < 1; i++) { %>
                    <pre class="json">
                        <code>
                            {
                                <span>Name: '<%= characters[i].name %>',</span>
                                <span>Race: '<%= characters[i].race %>',</span>
                                <span>Affiliation: '<%= characters[i].affiliation %>',</span>
                                <span>Skill: '<%= characters[i].skill %>'</span>
                             } 
                        </code>
                    </pre>
                <% } %>
            </li>
        </ul>
        
     <!-- Endpoints -->

        <h3>Endpoints</h3>
        <div id="api-endpoint-1">
            <h4>Base URL</h4>
            <pre><code>GET https://demon-slayer.cyclic.app/api/</code></pre>  
            <p>Serves all character data.</p>
        </div>
        <div id="api-endpoint-2">
            <h4>/name</h4>
            <pre><code>GET https://demon-slayer.cyclic.app/api/name</code></pre>
            <p>Serves specific character data.</p>
        </div>
        <h3 id="authentication">Authentication</h3>
        <p>To access the Demon Slayer API, no authentication or API key is required. The API is publicly accessible for fetching character information.</p>
    </section>

    <!-- Try it out section -->
    <section id="demo" class="container">
        <h3>Demo</h3>
        <h4>Enter Your Favorite Demon Slayer Character Name!</h4><br>
        <input type="text" placeholder="Enter Character Name" name="characterName" value=""/>
        <button id="search-btn" type="button">Enter</button>
        <button id="reset-btn" type="button">Reset</button>
    
        <div class="result">
            <ul id="character-list"></ul>
        </div>
    </section>

    <!-- footer -->
   <footer>
        <p id="footer-header" >DEMON SLAYER API</p>
        <p>Thanks for checking out the Demon Slayer API!</p>
        <div id="socials">
            <a href="https://github.com/gwendolyn954/demon-slayer-api"><i class="fa-brands fa-github fa-xl" style="color: #000000;"></i></a>
        </div>
   </footer>

    <script src="js/main.js"></script>
</body>
</html>

