<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demon Slayer API</title>

    <link rel="stylesheet" href="/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
</head>
<body>

    <!-- nav bar -->
    <nav class="navbar">
        <div class="container">
            <div><img id="ds-logo" src="/assets/logo.png" alt="Demon Slayer Logo"></div>
            <div><h1>DEMON SLAYER API</h1></div>
        </div>
    </nav>

    <!-- main -->
    <main>
        <div class="container">
            <div>
                <h2 id="main-header" >SERVING DEMON SLAYER CHARACTER FACTS</h3>
                <h3 id="main-content">Built for developers (and fans), the Demon Slayer API provides access to a collection of character facts from the popular anime and manga series, Demon Slayer: Kimetsu no Yaiba.</h2>
            </div>
            <div>
                <img id="siblings" src="assets/tanjiro-nezuko.png" alt="Tanjiro carrying Nezuko in her basket on his back.">
            </div>
        </div>    
    </main>

    <!-- Documentation -->
    <section id="documentation" class="container">
        <h2>Documentation</h2>
        <p>Example of the Demon Slayer API character object.</p>
        <img src="/assets/ds-property.png" alt="">
        <h3>Endpoints</h3>
        <div id="api-endpoint-1">
            <h4>Base URL</h4>
            <pre><code>GET https://demon-slayer.cyclic.app/api/</code></pre>  
            <p>Serves all character data</p>
        </div>
        <div id="api-endpoint-2">
            <h4>/keyword</h4>
            <pre><code>GET https://demon-slayer.cyclic.app/api/keyword</code></pre>
            <p>Serves specific character data. Accepts keyword property key (character first or last name)</p>
        </div>
        


    </section>

<!-- Try it out section -->
    <section id="example" ="container">
        <h3>Example:</h3>
        <input type="text" placeholder="Enter Character Name" name="characterName" value=""/>
        <button id="search-btn" type="button">Enter</button>
    
        <div class="result">
            <ul id="character-list"></ul>
        </div>

    </section>



    <script src="js/main.js"></script>
</body>
</html>

