<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demon Slayer API</title>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/36aa95581e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

    <!-- nav bar -->
    <nav class="navbar">
        <div class="container">
            <div><img id="ds-logo" src="/assets/logo.png" alt="Demon Slayer Logo"></div>
            <div><h1>DEMON SLAYER API</h1></div>
        </div>
    </nav>

    <!-- main -->
    <main>
        <div class="container">
            <div>
                <h2 id="main-header" >SERVING DEMON SLAYER CHARACTER FACTS</h3>
                <h3 id="main-content">Designed for developers and fans, the Demon Slayer API provides access to a collection of character facts from the popular anime and manga series, Demon Slayer: Kimetsu no Yaiba.</h2>
            </div>
            <div>
                <img id="siblings" src="assets/tanjiro-nezuko.png" alt="Demon Slayer main character Tanjiro, carrying his sister Nezuko in her basket on his back.">
            </div>
        </div>    
    </main>

    <!-- Documentation -->
    <section id="documentation" class="container">
        <h2>Overview:</h2>
        <p> This is a REST API in which each character object provides Demon Slayer character facts such as name, race, affiliation, and a featured character quote.  </p>
        
     <!-- Endpoints -->
        <h3 id="endpoints-title">Endpoints</h3>
        <div id="api-endpoint-1">
            <h4>&#x2022; Base URL</h4>
            <pre><code>GET https://demon-slayer-api-9c6c.onrender.com/api/</code></pre>  
            <p>Serves facts for all characters.</p>
        </div>
        <div id="api-endpoint-2">
            <h4>&#x2022; /name</h4>
            <pre><code>GET https://demon-slayer-api-9c6c.onrender.com/api/name</code></pre>
            <p>Serves specific character facts. Replace <span>/name</span> with a character name.</p>
        </div>
        <div id="api-endpoint-3">
            <h4>&#x2022; /race/human</h4>
            <pre><code>GET https://demon-slayer-api-9c6c.onrender.com/api/race/human</code></pre>
            <p>Serves all human characters.</p>
        </div>
        <div id="api-endpoint-4">
            <h4>&#x2022; /race/demon</h4>
            <pre><code>GET https://demon-slayer-api-9c6c.onrender.com/api/race/demon</code></pre>
            <p>Serves all demon characters.</p>
        </div>
    
        <!--Authentication Note -->
        <h3 id="authentication">Authentication</h3>
        <p>To access the Demon Slayer API, no authentication or API key is required. This API is publicly accessible for fetching character information.</p>
    </section>

    <!-- Demo -->
    <section id="demo" class="container">
        <h3>Demo:</h3>
        <label>
            <h4>Enter Your Favorite Demon Slayer Character Name!</h4>
            <br>
            <input type="text" placeholder="Enter Character Name" name="characterName" value=""/>
        </label>
        <button id="search-btn" type="button">SEARCH</button>
        <button id="reset-btn" type="button" onclick="window.location.reload()">RESET</button>
    
        <div class="result">
            <ul id="character-list"></ul>
        </div>
    </section>

    <!-- footer -->
   <footer>
        <p id="footer-header" >DEMON SLAYER API</p>
        <p>Thanks for checking out the Demon Slayer API!</p>
        <div id="socials">
            <a href="https://github.com/gwendolyn954/demon-slayer-api">Visit the Demon Slayer API repo<i class="fa-brands fa-github fa-xl" style="color: #000000;"></i></a>
        </div>
   </footer>

    <script src="/js/main.js"></script>
</body>
</html>


