<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Demon Slayer API</h1>
    <h2>How to access:</h2>
    <p>Access API here: https://demon-slayer.cyclic.app</p>

    
    <input type="text" placeholder="Enter Character Name" name="characterName" value=""/>
    <button id="search-btn" type="button">Enter</button>

    <div class="result">
        <ul id="character-list"></ul>
    </div>

    <script src="js/main.js"></script>
</body>
</html>
