<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demon Slayer API</title>

    <link rel="stylesheet" href="/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar">
        <div class="container">
            <div><img id="ds-logo" src="/assets/logo.png" alt="Demon Slayer Logo"></div>
            <div><h1>DEMON SLAYER API</h1></div>
        </div>
    </nav>


    <main>
        <div class="container">
            <div>
                <h2>SERVING DEMON SLAYER CHARACTER FACTS</h3>
                <h3>Built for developers (and fans), the Demon Slayer API provides access to a collection of character facts and information from the popular anime and manga series, Demon Slayer.</h2>
            </div>
            <div>
                <img id="siblings" src="assets/tanjiro-nezuko.png" alt="Tanjiro carrying Nezuko in her basket on his back.">
            </div>
        </div>    
    </main>

    <!-- API endpoints (2; home + character name input) -->
    <section id="endpoints" class="container">
        <div id="api-endpoint-1">
            <h3>API Endpoint: Get All Data</h3>
            <p>Serves all available characters by home route:</p>
            <pre><code>GET https://demon-slayer.cyclic.app/api/</code></pre>  
        </div>
        <div id="api-endpoint-2">
            <h3>API Endpoint: By Character Name</h3>
            <p>Serves specific character data; takes in keyword property key (character first or last name):</p>
            <pre><code>GET https://demon-slayer.cyclic.app/api/keyword</code></pre>
        </div>
        


    </section>

<!-- Try it out section -->
    <section id="example" ="container">
        <h3>Example:</h3>
        <input type="text" placeholder="Enter Character Name" name="characterName" value=""/>
        <button id="search-btn" type="button">Enter</button>
    
        <div class="result">
            <ul id="character-list"></ul>
        </div>

    </section>



    <script src="js/main.js"></script>
</body>
</html>

