<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Demon Slayer API</h1>
    <h2>Documentation Coming Soon!</h2>
    <p>Access API here: https://demon-slayer.cyclic.app</p>


    <input type="text" placeholder="Enter Character Name" name="characterName" value=""/>
    <button id="search-btn" type="button">Enter</button>

    <div class="result">
        <ul id="character-list"></ul>
    </div>

    <a href="https://toppng.com/free-image/rengoku-kimetsu-no-yaiba-chibi-PNG-free-PNG-Images_471489">Rengoku Kimetsu No Yaiba Chibi PNG Image With Transparent Background</a>

    <script src="js/main.js"></script>
</body>
</html>

